@import url(../font/fontawesome-free-6.2.0-web/css/all.css);

@font-face {
    font-family: 'Yekan';
    src: url('../font/Yekan.eot') format('eot');
    src: url('../font/yekan-regular.ttf') format('ttf');
    src: url('../font/Yekan.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yekan';
}

body {
    background: #f9fafd;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* -------------------------------------------------------------------- */
/* navabr */

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
}

.navbar-menu-a{
    color: #636363;
}

.navbar-menu-a:hover{
    color: #141414;
}

.container-navbar{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 85.5rem;
}

.navbar-menu{
    margin-right: 2rem;
    width: 38rem;
}

.navbar-menu>a{
    margin-right: 1.5rem;
}

/* navbar logo */

.navabar-logo {
    width: 6rem;
}

/* navbar-left*/

.navbar-left{
    width: 38.25rem;
    display: flex;
    margin-right: 1.2rem;
    justify-content: flex-start;
}
.navbar-left-container{
    display: flex;
    width: 25rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* background-color: #0da05b; */
    align-items: center;
    padding: 5px;
}

.navbar-search {
    background-color: rgb(253, 251, 251);
    border-radius: 4px;
    padding: 0 10px;
    display: flex;
    width: 15rem;
    align-items: center;
    justify-content: flex-end;
}

.search_in {
    border: none;
    background-color: transparent;
    direction: rtl;
    padding: 5px 10px;
}

.search_in:focus{
    outline: none;
}

.fa-search{
    margin-left: 10px;
}

.fa-user{
    padding: 8px;
}

.fa-user:hover{
    border-radius: 50%;
    background-color: #c7c5c5;
}
/* -------------------------------------------------------------------- */

/* container main */
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f1 {
    width: 85.5rem;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    padding: 15px 20px;
    direction: rtl;
}

/* container-apps */
.container-apps {
    width: 85.5rem;
    height: 250px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
}

.f1>p {
    font-size: 15px;
}

.apps-subject {
    width: 85.5rem;
    height: 60px;
    border-bottom: 1px solid #c5c5c5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.apps-subject>p {
    margin-right: 15px;
}

.more {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 15px;
}

.apps-list {
    display: flex;
    flex-direction: row-reverse;
    overflow: scroll;
}

.apps-list::-webkit-scrollbar {
    display: none;
}

.app {
    display: flex;
    width: 120px;
    height: 80%;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: right;


}

.app:hover {
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .2);
    cursor: pointer;

}

.app>h2 {
    direction: rtl;
    color: #2a2a2a;
    ;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app>p {
    font-size: 12px;
    overflow: hidden;
    color: #a7a7a7;
}

.app-en {
    display: flex;
    width: 120px;
    height: 80%;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-align: right;
}

.app-en:hover {
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.app-en>h2 {
    direction: ltr;
    color: #2a2a2a;
    ;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-en>p {
    font-size: 12px;
    overflow: hidden;
    color: #a7a7a7;
}

.apps-list>img {
    margin: 5px;
    height: 170px;
    border-radius: 6px;
}

/* footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: #0da05b;
}

.f2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    padding: 15px 20px;
    direction: rtl;
}

.f2>div {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.f2>div>i {
    align-self: center;
    margin-top: 5px;
}

.num {
    border-radius: 5px;
    padding: 0 1rem;
    background-color: #0da05b;
    color: #fff;
}


/* f3 */

.f3 {
    width: 80%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    padding: 15px 20px;
    direction: rtl;
    height: 500px;
    overflow: hidden;
}

/* footer */
footer {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.container-about {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;

}

.footer-about {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #d1d1d1;
    justify-content: space-between;
}

.about {
    width: 60%;
    height: 55%;
    align-self: center;
    direction: rtl;
}

.about>h2 {
    font-size: 1.125 rem;
}

.about>p {
    font-size: .875rem;
}

.container-download-bazar {
    height: 55%;
    width: 35%;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #e5e7f0;
    border-radius: 8px;
    padding:  5px;

}

.download-bazar-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-bazar-right>img {
    width: 75%;
    height: 75%;
}

.download-bazar-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.download-bazar-left-title {
    width: 80%;
    height: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.download-bazar-left-title>h5 {
    font-size: 0.875rem;
    justify-self: flex-end;

}

.download-bazar-left-title>p {
    font-size: 0.775rem;
}

.download-bazar-buttons {
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.download-bazar-buttons>a {
    background-color: #fff;
    color: #0ea960;
    border: 1px solid #e5e7f0;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 10px;
}


.container-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
    
}

.footer-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 80%;
    height: 100%;
}

.menu {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.menu >div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu>div>a{
    font-size: 14px;
    line-height: 3rem;
}

.menu>div>a:hover{
    color: #0da05b;
    cursor: pointer;
}

.sign {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    
}
.sign>img{
    height: 110px;
    border: 1px solid #e5e7f0;
    border-radius: 6px;
    margin-left: 20px;
}
.container-footer-social{
    display: flex;
    justify-content: center;
}
.footer-social{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px;
    align-self: center;
}
.footer-social>p{
    font-size: 12px;

}
.social-icons{
    display: flex;
    flex-direction: row-reverse;
}

.social-icons>img{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}