@import url(../font/fontawesome-free-6.2.0-web/css/all.css);
@font-face {
    font-family: 'Yekan' ;
    src: url('../font/Yekan.eot') format('eot');
    src: url('../font/yekan-regular.ttf') format('ttf');
    src: url('../font/Yekan.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yekan';
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* navabr */

.navabr {
    position: fixed;
}

.container-navbar {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
    flex-direction: row-reverse;
}

/* navbar logo */

.navabar-logo{
    width: 20%;
    height: 100%;
}

.logo{
    width: 60%;
    height: 70%;
    margin-top: 10px;
}

/* navbar menu */

.navbar-menu{
    width: 50%;
    height: 100%;
    
}

.navbar-menu>ul{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 18px;
    align-content: center;
}

.navbar-menu>ul>li{
    margin-right: 20px;
    font-size: 18px;
}


/* navbar login */
.navabr-login{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    justify-content: flex-end;
    align-items: center;
}

.navbar-search{
    width: 60%;
    height: 50%;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    border-color: #cacaca;
    padding: 0 10px;
    display: flex;
    align-items: center;

}

.navbar-search>i{
    color: darkgray;
    padding-left: 10px;
}
.search_in{
    border: none;
    background-color: transparent;
    direction: rtl;
}

.search_in::placeholder{
    color: #a7a7a7;
    font-size: 12px;
}

